@using Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        //使用JavaScript创建数据表格
        $('#datalist').datagrid({
            url: '/Pro/ConstructionSiteManage/GetList',     //一个用以从远程站点请求数据的超链接地址。控制器/方法
            iconCls: 'icon-save',
            loadMsg: '数据正在加载中,请稍后.....',    //当从远程站点载入数据时,显示的一条快捷信息。
            singleSelect: false,               //设置为true将只允许选择一行
            fitColumns: true,                  //设置为true将自动使列适应表格宽度以防止出现水平滚动
            striped: true,                     //设置为true将交替显示行背景
            pagination: true,                  //设置true将在数据表格底部显示分页工具栏。
            rownumbers: true,                  //设置为true将显示行数。
            pagePosition: 'bottom',            //定义的分页栏的位置。可用的值有 'top','bottom','both'。
            pageNumber: 1,                     //当设置分页属性时,初始化分页码。默认显示第几页
            pageSize: 10,                      //当设置分页属性时,初始化每页记录数。每页记录数 
            pageList: [10, 20],                //当设置分页属性时,初始化每页记录数列表。分页记录数数组 
            sortName: 'Id',                    //当数据表格初始化时以哪一列来排序。
            sortOrder: 'desc',                  //定义排序顺序,可以是'asc'或者'desc'（正序或者倒序）。
            idField: 'Id',                     //表明该列是一个唯一列。
            frozenColumns: [[                  //跟列属性一样,但是这些列固定在左边,不会滚动。
                { field: 'modelID', checkbox: true }
            ]],
            columns: [[
                { field: 'Id', title: 'ID', hidden: true },
                { field: 'Address', title: '工程地址', width: 100, align: 'center', sortable: true },
                { field: 'CusName', title: '客户姓名', width: 100, align: 'center', sortable: true },
                { field: 'Designer', title: '设计师', width: 100, align: 'center', sortable: true },
                { field: 'ProMinister', title: '项目部长', width: 100, align: 'center', sortable: true },
                { field: 'Checker', title: '质检员', width: 100, align: 'center', sortable: true },
                { field: 'StartDate', title: '开工日期', width: 100, align: 'center', sortable: true },
                { field: 'EndDate', title: '竣工日期', width: 100, align: 'center', sortable: true },
                { field: 'Remarks', title: '备注', width: 100, align: 'center', sortable: true }
            ]]
        }); //end datagrid

    }); //end of $.ready

    //刷新当前页
    function reloadgrid() {
        $('#datalist').datagrid('reload', {
            address: $("#address").val(),
            cusName: $("#cusName").val(),
            designer: $("#designer").val(),
            proMinister: $("#proMinister").val(),
            checker: $("#checker").val(),
            startDateStart: $("#startDateStart").val(),
            startDateEnd: $("#startDateEnd").val(),
            endDateStart: $("#endDateStart").val(),
            endDateEnd: $("#endDateEnd").val()
        });
        $('#datalist').datagrid('clearSelections');
    }

    //重新查询，显示第一页
    function loadgrid() {
        $('#datalist').datagrid('load', {
            address: $("#address").val(),
            cusName: $("#cusName").val(),
            designer: $("#designer").val(),
            proMinister: $("#proMinister").val(),
            checker: $("#checker").val(),
            startDateStart: $("#startDateStart").val(),
            startDateEnd: $("#startDateEnd").val(),
            endDateStart: $("#endDateStart").val(),
            endDateEnd: $("#endDateEnd").val()
        });
        $('#datalist').datagrid('clearSelections');
    }

    //刷新
    function refresh() {
        reloadgrid();
    }

    //添加
    function add() {
        addTab('添加在建工地', '/Pro/ConstructionSiteManage/Add');
    }

    //修改
    function edit() {
        var row = $('#datalist').datagrid('getSelected');
        var rows = $('#datalist').datagrid('getSelections');
        if (!row) {
            alert("您还没有选择要修改的记录");
            return;
        }
        if (rows.length > 1) {
            alert("只能选择一条记录");
            return;
        }

        addTab("修改在建工地", "/Pro/ConstructionSiteManage/Edit?id=" + row.Id);
    }

    //删除
    function del() {
        var row = $('#datalist').datagrid('getSelected');
        var rows = $('#datalist').datagrid('getSelections');
        if (!row) {
            alert("您还没有选择要删除的记录");
            return;
        }

        var idArr = new Array();
        for (var i = 0; i < rows.length; i++) {
            idArr.push(rows[i].Id);
        }
        var ids = idArr.join(",");

        if (confirm("确定删除？")) {
            $.ajax({
                url: "/Pro/ConstructionSiteManage/Del",
                type: "POST",
                data: { ids: ids },
                success: function (data) {
                    if (data == "OK") {
                        alert("删除成功");
                        reloadgrid();
                    } else {
                        alert("删除失败：" + data);
                    }
                }
            });
        }
    }

    //查看
    function view() {
        var row = $('#datalist').datagrid('getSelected');
        var rows = $('#datalist').datagrid('getSelections');
        if (!row) {
            alert("您还没有选择要修改的记录");
            return;
        }
        if (rows.length > 1) {
            alert("只能选择一条记录");
            return;
        }

        addTab("修改在建工地", "/Pro/ConstructionSiteManage/Edit?isView=true&id=" + row.Id);
    }
</script>
<div class="search-container">
    <table class="search-container-table" cellpadding="0" cellspacing="0">
        <tr>
            <td>工程地址：
            </td>
            <td>
                <input type="text" name="address" id="address" class="input-text" />
            </td>
            <td>客户姓名：
            </td>
            <td>
                <input type="text" name="cusName" id="cusName" class="input-text" />
            </td>
            <td>设计师：
            </td>
            <td>
                <input type="text" name="designer" id="designer" class="input-text" />
            </td>
            <td>
                <input type="button" class="btn" id="btnSearch" value="搜 索" onclick="loadgrid()" />
            </td>
        </tr>
        <tr>
            <td>项目部长：
            </td>
            <td>
                <input type="text" name="proMinister" id="proMinister" class="input-text" />
            </td>
            <td>开工日期：
            </td>
            <td colspan="4">
                <input type="text" name="startDateStart" id="startDateStart" class="input-text" readonly="readonly"
                    onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'1900-01-01'})" />
                到 
                <input type="text" name="startDateEnd" id="startDateEnd" class="input-text" readonly="readonly"
                    onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'1900-01-01'})" />
            </td>
        </tr>
        <tr>
            <td>质检员：
            </td>
            <td>
                <input type="text" name="checker" id="checker" class="input-text" />
            </td>
            <td>竣工日期：
            </td>
            <td colspan="4">
                <input type="text" name="endDateStart" id="endDateStart" class="input-text" readonly="readonly"
                    onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'1900-01-01'})" />
                到 
                <input type="text" name="endDateEnd" id="endDateEnd" class="input-text" readonly="readonly"
                    onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'1900-01-01'})" />
            </td>
        </tr>
    </table>
</div>
<div class="toolbar">
    @if (ViewBag.AddRights)
    {
        <input class="btn" type="button" value="添加" id="btnAdd" onclick="add()" />
    }
    @if (ViewBag.EditRights)
    {
        <input class="btn" type="button" value="修改" id="btnEdit" onclick="edit()" />
    }
    @if (ViewBag.DelRights)
    {
        <input class="btn" type="button" value="删除" id="btnDel" onclick="del()" />
    }
    @if (ViewBag.ViewRights)
    {
        <input class="btn" type="button" value="查看" id="btnView" onclick="view()" />
    }
</div>
<table id="datalist" style="width: 100%;">
</table>
